{{#each posts as |post|}}
<div class="card">
    <div class="card-header">
        <span class="d-flex justify-content-between">
            <span>{{post.title}}</span>
            <span>{{post.user.name}} ({{format_date post.createdAt}})</span>
            {{!-- {{#each postsU as |user|}}
            <span>
                {{user.user.name}}
            </span>
            {{/each}} --}}

        </span>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{post.body}}</p>
        </blockquote>
    </div>
    <div class="card-body">
        </blockquote>
    </div>
</div>

{{#each post.notes as |note|}}
<div class="card mt-1 mb-1">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between" style="border-color: black;">
            <p>{{note.body}}</p>
            <p>{{note.user.name }} ({{format_date note.createdAt}})</p>
        </div>
    </div>
</div>

{{/each}}

{{#if logged_in}}
<div data-post="{{post.id}}" class="form-floating mt-1 " style="margin-bottom: 50px;">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea">
        </textarea>
    <label for="floatingTextarea">Leave a comment</label>

    <button class="mt-1 form-comment">Comment</button>
</div>
{{else}}
<div class="form-floating mt-1" style="margin-bottom: 50px;">
    <a href="/login"><button>Login to leave comment</button></a>
</div>
{{/if}}


{{/each}}



<script src="/js/post-note.js"></script>